body {
    background-color:black;
 }
 
.header {
    border:2px solid red;
    width: 1,200px;
    height:80px;
}

.img_1{
    width:60px;
    height:60px;
    margin-top:6px;
    float:left;
    margin-left:50px;
}
.col2{
    height:48px;
    width :170px;
    float:left;
    font-size:35px;
    color:white;
    margin-top:15px;
    margin-left:15px;
}
.col_3{
    height:30px;
    width :100px;
    float:right;
    font-size:20px;
    color:white;
    margin-top:20px;
    margin-left:40px;
}
.col4{
    height:30px;
    width :140px;
    float:right;
    font-size:20px;
    color:white;
    margin-top:20px;
    margin-right:40px;
}
.header_1{
    border:2px solid red;
    width: 1,280px;
    height:40px;
} 
.header2 {
    border:2px solid red;
    width: 1,200px;
    margin-top:5px;
    height:80px;
    color:white;
}
.component2{
    margin-top:25px;
    width:70px;
    font-size:20px;
    height:40px;
    color:white;
    padding: 0px 0px 0px 160px;
}  
.movie_row {
    border:1px solid red;
    margin:26px auto 0px auto;
    height:290px;
    width:954px;
}

.img_col1{
    border:1px solid red;
    height:100%;
    width:732px;
    float:right;
    padding:0px 9px 0px 0px;
}
.Details{
    border:1px solid red;
    height:185px;
    width:720px;
    float:left;
    color:black;
    font-size:15px;
} 

h1 {
    margin-top: 0px;
    padding: 0px;
    color:white;
}
.p {
    margin-top: -15px;
    color:white;
}
img.movie_row1{
    border:1px solid red;
    height:270px;
    width:200px;
    float:left;
}

h2{
    color:white;
}
p {
    margin-top: -15px;
    color:white;
}
.action{
    border:1px solid red;
    width:740px;
    height:40px;
    float:left;
    margin-top:40px;
}
.like{
    width: 32px;
    height: 32px;
    margin-top:3px;
    margin-left:2px;
    float:left;
}
.rating{
    width:40px;
    height:40px;
    color:white;
    border-radius:32px;
    text-align:center;
    line-height:40px;
    margin-left:2px;
    float:left;
}
.dislike{
    width: 32px;
    height: 32px;
    margin-top:3px;
    margin-left:2px;
    float:left;
}
.delete{
    width: 30px;
    height: 30px;
    margin-top:4px;
    float:right;
}
